body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background: #F55A5A;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.nav--img {
  width: 25px;
  height: 25px;
}

.nav--text {
  color: white;
  font-size: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
}


.card{
  height: 170px;
  width: 500px;
  display: flex;
  margin: 30px;
}

.card--img{
  width: 130px;
  height: 170px
}

.card--body{
  text-align: left;
  margin-left: 20px;
}

.card--location{
  display: inline;
  margin-right: 20px ;
  height: 10px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;
  text-align: left;
  
}
.card--maps{
  display: inline;
  color: gray;
  text-decoration: none;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  
}


.card--title{
  margin-top: 10px;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  
}

.card--date{
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
  
}

.card--desc{
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 6px;
  
}

.location-logo{
  width: 7px;
  height: 10px;
  margin-right: 5px;
}